In [15]:
import pandas as pd
import os

In [16]:
datos_vuelos = pd.read_csv("Flights.csv")
datos_ventas = pd.read_csv("Sales.csv")

In [37]:
productos_a_eliminar = [
    "Vivabus",
    "Transportaciones CUN",
    "Specials",
    "COMBOS CREW",
    "Hertz.",
    "OFERTAS",
    "Transportaciones MTY",
    "Transportaciones TLC",
    "VIVA PLAY",
    "VIVA Taxis",
    "Antros",
    "VivaTransfer"
]

In [18]:
tipos_product_type = datos_ventas["ProductType"].unique()

# Imprimir los distintos tipos de ProductType
print("Distintos tipos de ProductType:")
for tipo in tipos_product_type:
    print(tipo)

Distintos tipos de ProductType:
Botanas
Licores
Vivabus
Transportaciones CUN
Galletas
Specials
Bebidas Calientes
COMBOS CREW
Hertz.
OFERTAS
Transportaciones MTY
Transportaciones TLC
VIVA PLAY
VIVA Taxis
Antros
VivaTransfer
Alimentos Charter
Perecederos
Refrescos
Sopas
Lacteos

In [52]:
salesClean = datos_ventas
for i in productos_a_eliminar:
    salesClean = salesClean [salesClean["ProductType"] != i]

In [53]:
salesClean

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
5,34ae909bf3699372fcd66f02af0bdd54,Licores,Ron Bacardi,2,240.0
...,...,...,...,...,...
2564356,638cf1904f936c50aea4a6f123ee07cf,Licores,Vino Tinto Sangre De Toro,1,155.0
2564357,04c5a19b8382a888d5c4c7b4932e783e,Licores,Vino Tinto Sangre De Toro,1,155.0
2564358,0291f6b201d2b24717a8ed7ca04f2d90,Licores,Vino Tinto Sangre De Toro,1,155.0
2564359,a10e3ac614fd434d6312897e07727c08,Licores,Vino Tinto Sangre De Toro,1,155.0
2564360,3f53b6ab66d674c6ecec9ebb5d040460,Licores,Vino Tinto Sangre De Toro,1,155.0

In [46]:
salesClean.to_csv("files/salesClean.csv", index=False)

# Verificamos la existencia del archivo
if os.path.exists("salesClean.csv"):
    print("Archivo salesClean.csv creado con éxito!")
else:
    print("Error al crear el archivo salesClean.csv")

Archivo salesClean.csv creado con éxito!

In [54]:
# Obtener la cantidad de filas (resultados) en el dataframe
numero_resultados = salesClean.shape[0]

# Imprimir la cantidad de resultados
print("Cantidad de resultados en salesClean.csv:", numero_resultados)

Cantidad de resultados en salesClean.csv: 2146680

In [62]:
#Inner Join
datos_unidos = datos_vuelos.merge(salesClean, on="Flight_ID", how="outer")

In [59]:
datos_unidos

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,ProductType,ProductName,Quantity,TotalSales
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Galletas,Chokis,1,45.0
1,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Refrescos,Sprite,1,48.0
2,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Licores,Amstel Ultra,2,144.0
3,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Bebidas Calientes,Cafe 19 Capuchino,1,45.0
4,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0,Botanas,Mafer Sin Sal,1,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142475,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Licores,Heineken Original,3,216.0
2142476,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Refrescos,Agua Natural 600 Ml,9,432.0
2142477,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Galletas,Emperador Chocolate,1,45.0
2142478,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Botanas,Nishikawa Japones,1,45.0
2142479,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0,Botanas,Sabritas Originales,16,784.0

In [61]:
datos_unidos.to_csv("JoinData.csv", index=False)

# Verificamos la existencia del archivo
if os.path.exists("JoinData.csv"):
    print("Archivo salesClean.csv creado con éxito!")
else:
    print("Error al crear el archivo salesClean.csv")

Archivo salesClean.csv creado con éxito!