In [1]:
import pandas as pd
import os

In [2]:
datos_vuelos = pd.read_csv("Flights.csv")
datos_ventas = pd.read_csv("Sales.csv")

In [3]:
productos_a_eliminar = [
    "Vivabus",
    "Transportaciones CUN",
    "Specials",
    "COMBOS CREW",
    "Hertz.",
    "OFERTAS",
    "Transportaciones MTY",
    "Transportaciones TLC",
    "VIVA PLAY",
    "VIVA Taxis",
    "Antros",
    "VivaTransfer"
]

In [4]:
tipos_product_type = datos_ventas["ProductType"].unique()

# Imprimir los distintos tipos de ProductType
print("Distintos tipos de ProductType:")
for tipo in tipos_product_type:
    print(tipo)

Distintos tipos de ProductType:
Botanas
Licores
Vivabus
Transportaciones CUN
Galletas
Specials
Bebidas Calientes
COMBOS CREW
Hertz.
OFERTAS
Transportaciones MTY
Transportaciones TLC
VIVA PLAY
VIVA Taxis
Antros
VivaTransfer
Alimentos Charter
Perecederos
Refrescos
Sopas
Lacteos

In [5]:
salesClean = datos_ventas
for i in productos_a_eliminar:
    salesClean = salesClean [salesClean["ProductType"] != i]

In [6]:
salesClean

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
5,34ae909bf3699372fcd66f02af0bdd54,Licores,Ron Bacardi,2,240.0
...,...,...,...,...,...
2564356,638cf1904f936c50aea4a6f123ee07cf,Licores,Vino Tinto Sangre De Toro,1,155.0
2564357,04c5a19b8382a888d5c4c7b4932e783e,Licores,Vino Tinto Sangre De Toro,1,155.0
2564358,0291f6b201d2b24717a8ed7ca04f2d90,Licores,Vino Tinto Sangre De Toro,1,155.0
2564359,a10e3ac614fd434d6312897e07727c08,Licores,Vino Tinto Sangre De Toro,1,155.0
2564360,3f53b6ab66d674c6ecec9ebb5d040460,Licores,Vino Tinto Sangre De Toro,1,155.0

In [8]:
salesClean.to_csv("files/salesClean.csv", index=False)

# Verificamos la existencia del archivo
if os.path.exists("salesClean.csv"):
    print("Archivo salesClean.csv creado con éxito!")
else:
    print("Error al crear el archivo salesClean.csv")

Error al crear el archivo salesClean.csv

In [9]:
# Obtener la cantidad de filas (resultados) en el dataframe
numero_resultados = salesClean.shape[0]

# Imprimir la cantidad de resultados
print("Cantidad de resultados en salesClean.csv:", numero_resultados)

Cantidad de resultados en salesClean.csv: 2146680

In [10]:
#Inner Join
datos_unidos = datos_vuelos.merge(salesClean, on="Flight_ID", how="outer")

In [11]:
datos_unidos

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings,ProductType,ProductName,Quantity,TotalSales
0,00004a718edba9d9ef878d08f02ae057,XA-VYD,AL,AT,Ciudad Principal,MX Amigos y Familia,2023-12-18 16:20:00,2023-12-18 18:35:00,180.0,174.0,106.0,Botanas,Luxury Nut Mix,1.0,55.0
1,00004a718edba9d9ef878d08f02ae057,XA-VYD,AL,AT,Ciudad Principal,MX Amigos y Familia,2023-12-18 16:20:00,2023-12-18 18:35:00,180.0,174.0,106.0,Licores,Xx Lager,1.0,72.0
2,00004a718edba9d9ef878d08f02ae057,XA-VYD,AL,AT,Ciudad Principal,MX Amigos y Familia,2023-12-18 16:20:00,2023-12-18 18:35:00,180.0,174.0,106.0,Refrescos,Sprite,3.0,144.0
3,00004a718edba9d9ef878d08f02ae057,XA-VYD,AL,AT,Ciudad Principal,MX Amigos y Familia,2023-12-18 16:20:00,2023-12-18 18:35:00,180.0,174.0,106.0,Botanas,Doritos Nacho,1.0,49.0
4,00004a718edba9d9ef878d08f02ae057,XA-VYD,AL,AT,Ciudad Principal,MX Amigos y Familia,2023-12-18 16:20:00,2023-12-18 18:35:00,180.0,174.0,106.0,Refrescos,Jugo De Manzana,1.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353695,ffff881a59bc5274e97ea3c4de344e05,XA-VAI,BH,AO,Ciudad Principal,Playa,2023-03-25 07:55:00,2023-03-25 10:25:00,180.0,162.0,116.0,Refrescos,Jugo De Manzana,1.0,42.0
2353696,ffff881a59bc5274e97ea3c4de344e05,XA-VAI,BH,AO,Ciudad Principal,Playa,2023-03-25 07:55:00,2023-03-25 10:25:00,180.0,162.0,116.0,Botanas,Doritos Nacho,1.0,45.0
2353697,ffff881a59bc5274e97ea3c4de344e05,XA-VAI,BH,AO,Ciudad Principal,Playa,2023-03-25 07:55:00,2023-03-25 10:25:00,180.0,162.0,116.0,Bebidas Calientes,Cafe 19 Capuchino,2.0,80.0
2353698,ffff881a59bc5274e97ea3c4de344e05,XA-VAI,BH,AO,Ciudad Principal,Playa,2023-03-25 07:55:00,2023-03-25 10:25:00,180.0,162.0,116.0,Perecederos,Mega Cuerno Clasico,2.0,220.0
2353699,ffff881a59bc5274e97ea3c4de344e05,XA-VAI,BH,AO,Ciudad Principal,Playa,2023-03-25 07:55:00,2023-03-25 10:25:00,180.0,162.0,116.0,Galletas,Emperador Vainilla,1.0,42.0

In [12]:
link_JoinFull = "files/JoinDataFull.csv"
datos_unidos.to_csv(link_JoinFull, index=False)

# Verificamos la existencia del archivo
if os.path.exists(link_JoinFull):
    print("Archivo salesClean.csv creado con éxito!")
else:
    print("Error al crear el archivo {link}",link_JoinFull)

Archivo salesClean.csv creado con éxito!

## Limpieza de Flights

In [ ]:
import datetime
#En files crea un archivo cleanFlights que contenga los datos sin datos nulos
vuelos_limpios = datos_vuelos.dropna()
# Extract the year from the date column
datos_vuelos['Year'] = pd.to_datetime(datos_vuelos['STD']).dt.year

# Manda lo salvado a un csv nuevo
vuelos_limpios.to_csv('files/cleanFlights.csv', index=False)
# Filtrar los datos para 2023
datos_2023 = vuelos_limpios[vuelos_limpios['Year'] == 2023]

# Filtrar los datos para 2024
datos_2024 = vuelos_limpios[vuelos_limpios['Year'] == 2024]

# Guardar los datos de 2023 en un archivo CSV
datos_2023.to_csv('files/datos_2023.csv', index=False)

# Guardar los datos de 2024 en un archivo CSV
datos_2024.to_csv('files/datos_2024.csv', index=False)

#Compara la cantidad de resultados cleanFlights con filghts 2023
print("Cantidad de resultados en cleanFlights.csv:", vuelos_limpios.shape[0])
print("Cantidad de resultados en datos_2023.csv:", datos_2023.shape[0])